<?php include('views/header.html')?>
<article>
    <h2>
        <?php echo $params['article']->getHeadline(); ?>
    </h2>
    <p>
        <?php echo $params['article']->getContent(); ?>
    </p>
    <footer>
        <time>
            <?php echo $article->getPublicationDate(); ?>
        </time>
    </footer>
</article>

<form method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <fieldset>
        <legend>Edit article: </legend>

        <label for="categoryId">Select category: </label>
        <select name="categoryId" id="category">
            <?php foreach ($params['categories'] as $category): ?>
                <option 
                    value=<?php echo $category->getId(); ?>>
                        <?php echo $category->getTitle(); ?>
                </option>
            <?php endforeach; ?>
        </select>

        <label for="headline">Headline: </label>
        <input 
            type="text"
            name="headline"
            id="headline"
            maxlength="40"
            placeholder="A very cool headline"
            value="<?php echo $params['article']->getHeadline(); ?>"
            required
        />
        <br>

        <label for="content">Content: </label>
        <textarea
            type="text"
            name="content" 
            id="content"
            minlength="10"
            maxlength="2000"
            wrap="hard"
            cols="40"
            rows="10"
            required
        ><?php echo $params['article']->getContent(); ?></textarea>
        <br>

        <label for="tags">Add tags: </label>
        <select id="tags" name="tagIds[]" multiple>
            <?php foreach ($params['tags'] as $tag): ?>
            <option 
                value="<?php echo $tag['id'] ?>"
                <?php if ($tag['selected']): echo 'selected'; endif; ?>
            >
                    <?php echo $tag['title'] ?>
            </option>
            <?php endforeach; ?>
        </select>

        <button>save updates</button>

    </fieldset>
</form>

<form method="POST">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="hidden" name="tagIds[]" value="" />
    <input type="hidden" name="categoryId" value="" />
    <button>Delete</button>
</form>

<?php include('views/footer.html') ?>
