<?php include('views/header.html')?>

<?php if(isset($_SESSION['user'])): ?>
<form method="POST">
    <label for="title">New category: </label>
    <input type="text" name="title" id="title" minlength="2" maxlength="30" required
    />

    <button>save</button>
</form>
<?php endif; ?>

<?php foreach ($params['categories'] as $category): ?>
<ul>
    <li>
        <a href=<?php echo '/categories/' . $category->getId();?> >
            <?php echo $category->getTitle(); ?>
        </a>
    </li>
</ul>
<?php endforeach; ?>

<?php include('views/footer.html') ?>