<fieldset>

    <legend>Create a new blog post!</legend>

    <form method="POST" action="/articles">

        <label for="category">Categorize your new blog post: </label>
        <select name="category" id="category" required>
            <?php foreach ($categories as $category): ?>
            <option value="<?php echo $category['id']; ?>">
                <?php echo $category[ 'title'] ?>
            </option>
            <?php endforeach; ?>
        </select>
        <br>

        <fieldset name="select-tags">

            <?php foreach ($tags as $tag): ?>

            <input type="checkbox" name="tags[]" id="<?php echo $tag['title']; ?>" value="<?php echo $tag['id']; ?>">
            <label for="<?php echo $tag['title']; ?>">
                <?php echo $tag['title'] ?>
            </label>

            <?php endforeach; ?>
        </fieldset>
        <br>

        <label for="headline">Headline: </label>
        <textarea type="text" name="headline" id="headline" required maxlength="40" placeholder="A very cool and intruiging headline"
            cols="70" rows="2" /></textarea>
        <br>

        <label for="runningtext"> and here's the main content: </label>
        <textarea name="runningtext" type="text" id="runningtext" required="true" minlength="10" maxlength="2000" wrap="hard" cols="70"
            rows="30"></textarea>
        <br>
        <button type="submit">Please, save my new blog post!</button>

    </form>

</fieldset>


<fieldset>

    <legend>I need a new tag!</legend>

    <form method="POST" action="/tags">

        <label for="title">Name of my new tag: </label>
        <input type="text" name="title" id="title" required />
        <br>

        <button type="submit">Save my new tag, thnx!</button>

    </form>

</fieldset>

<fieldset>

    <form method="POST" action="/categories">

        <legend>Create new category: </legend>

        <label for="title">Name of my new category: </label>
        <input type="text" name="title"  id="title" required minlength="10" maxlength="20" />

        <label for="description">Short description of category content: </label>
        <textarea type="text" name="description" id="description" required cols="30" rows="2" minlength="10" maxlength="100"></textarea>

        <button type="submit">Save my new category!</button>
    </form>

    <?php foreach ($articles as $article): ?>
    <section>
        <article>
            <h2>
                <?php echo $article['headline'] ?>
            </h2>
            <p>
                <?php echo $article['runningtext'] ?>
            </p>
            <p>
                <?php echo $article['publishing_date'] ?>
            </p>
        </article>
        <ul>
            <li></li>
        </ul>
    </section>
    <?php endforeach; ?>