    <fieldset>
        <form method="POST" action="/categories"> 

            <legend>Create new category: </legend> 
    
            <label for="title">Name of category: </label>
            <input name="title" type="text" id="title" required="true"/>
    
            <label for="description">Short description of category content: </label>
            <textarea name="description" type="text" id="description" required="true"></textarea>
    
            <button type="submit">Create new category!</button>
        </form>
    </fieldset>

    <section>
        <ul>
            <?php foreach ($categories as $category): ?>
            <li>
                <p><?php echo $category['title'] ?></p>
                <p><?php echo $category['description'] ?></p>
            </li>
            <?php endforeach; ?>
        </ul>
    </section>
