<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>BlogB</title>
</head>

<body>
    <header role="banner">
        <h1>StaticHeadline</h1>
        <nav role="navigation">
            <ul>
                <li>nav#1</li>
                <li>nav#2</li>
                <li>nav#3</li>
            </ul>
        </nav>
        <form>
            <input type="tbd"> <!-- to be defined -->
            <input type="submit">
        </form>
    </header>